.header {
  font-size: $font-size-large;
  font-weight: 800;
  width: 80%;
  @media (max-width: $desktop-breakpoint) {
    font-size: $font-size-small;
  }
}

.header__links {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: $s-size 0;
}

.header__title {
  color: $red;
  text-decoration: none;
  display: flex;
  justify-content: center;
  text-align: center;
}
