.layout {
    align-items: center;
    background: linear-gradient(rgba(0, 0, 0, 0.500), rgba(0, 0, 0, 0.500)), url('/images/bg1.jpg');
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-width: 100vw;
    background-attachment: fixed;
    min-height: 100vh;
}

.layout--grey {
   background: linear-gradient(rgba(0, 0, 0, 0.500), rgba(0, 0, 0, 0.500)), url('/images/bg2.jpg');
   background-size: cover;
}