.content {
    padding-top: $xl-size;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 100rem;
    
}

.card {
    width: 180px;
    height: 210px;
    padding: 20px 10px 10px 10px;
    overflow: hidden;
}

.card_det {
    padding: 0;
}

img {
    width: 100%;
    object-fit: contain;
}

a {
    color: $blue;
    text-decoration: none;
    font-size: $m-size;
}
