html {
  font-size: 62.5%;
  box-sizing: border-box;
  background-color: $off-white;
}

body {
  font-family: 'Special Elite',Helvetica, cursive;
  font-size: $m-size;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: default;
}

.is-active {
  font-weight: bold;
}
