html {
  font-size: 62.5%;
}

body {
  font-family: 'Special Elite',Helvetica, cursive;
  font-size: $m-size;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: default;
}

.is-active {
  font-weight: bold;
}
